<!DOCTYPE html>
<html lang="en">
    <%- include("../views/partials/head.ejs") %>
<body>
    <%- include("../views/partials/nav.ejs") %>
    <div class="container">
        <h1>Property List</h1>
        <% properties.forEach(property => { %>
            <div class="row">
                <div class="column">
                    <a href="/properties/<%= property._id %>"><%= property.address %></a>
                </div>
                <div class="column">
                    <span>Owner: <%= property.owner %></span>
                </div>
                <div class="column">
                    <span>Status: <%= property.completedStatus ? 'Completed' : 'In Progress' %></span>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>
