<!DOCTYPE html>
<html lang="en">
    <%- include("../views/partials/head.ejs") %>
    <style>
        .row {
            cursor: pointer;
        }
    </style>
<body>
    <%- include("../views/partials/nav.ejs") %>

    <div class="container">
        <h1>Property List</h1>
        <% properties.forEach(property => { %>
            <div class="row" style="margin-bottom: 10px; border: 1px solid #e1e1e1; padding: 10px;" data-href="/properties/<%= property._id %>">
                <div class="column column-50">
                    <strong><%= property.address %></strong>
                </div>
                <div class="column column-25">
                    <strong>Owner:</strong> <%= property.owner %>
                </div>
                <div class="column column-25">
                    <strong>Status:</strong> <%= property.completed ? 'Completed' : 'In Progress' %>
                </div>
            </div>
        <% }) %>
        <div style="text-align: right; margin-bottom: 10px;">
            <button id="printButton">Print</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const rows = document.querySelectorAll('.row');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    window.location.href = this.getAttribute('data-href');
                });
            });

            const printButton = document.getElementById('printButton');
            printButton.addEventListener('click', () => {
                window.print(); // Opens up the print dialog
            });
        });
    </script>
</body>
</html>
