<!DOCTYPE html>
<html lang="en">
    <%- include("../views/partials/head.ejs") %>
<body>
    <%- include("../views/partials/nav.ejs") %>
    <div class="container">
        <h1><%= property.address %></h1>
        <p>Owner: <%= property.owner %></p>
        <p>Status: <%= property.completedStatus ? 'Completed' : 'In Progress' %></p>
        <a href="/properties/edit/<%= property._id %>">Edit</a>
    </div>
</body>
</html>
